<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <br>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Description</th>
            <th>Pros</th>
            <th>Cons</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quote, stat : ${quotes}">
            <td th:text="${quote.id}"></td>
            <td th:text="${quote.date}"></td>
            <td th:text="${quote.description}"></td>
            <td>
                <form th:object="${quote}" method="post" action="/quotes/pros">
                    <input hidden value="#" th:attr="value=${quote.id}" th:name="id"/>
                    <button class="btn btn-light btn-xs">Pros</button>
                </form>
            </td>
            <td>
                <form th:object="${quote}" method="post" action="/quotes/cons">
                    <input hidden value="#" th:attr="value=${quote.id}" th:name="id"/>
                    <button class="btn btn-light btn-xs">Cons</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>